

# Dependencies
/node_modules/

# Next.js
/.next/
/out/

# Environment
.env
.env.local
.env.*.local

# Generated
src/generated/

# IDE
/.vscode/
.idea/
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Build
bin/
obj/
out/
build/
dist/
*.log
*.tmp
*.cache